/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.form {
  margin-top: 36px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.form input {
  width: 272px;

  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
.form input:hover {
  border: 1px solid #000;
}
.form input:focus {
  outline: none;
  border-color: #4e75ff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 3px;
}
.gallery img {
  display: block;
  width: 360px;
  height: 200px;
}

.gallery-item {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 1px solid #808080;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-btn:hover {
  background: #6c8cff;
}
.info-item b {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  background-color: #f6f8ff;
}
.loader.is-hidden {
  display: none;
}

.loader {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
}
.load-more-btn {
  display: block;
  margin: 32px auto;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.load-more-btn:hover {
  background: #6c8cff;
}

.load-more-btn.is-hidden {
  display: none;
}
